/* line 5, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
body {
  background: url(/assets/bg/concrete_wall.png);
  color: #bbb;
}

/* line 10, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
h1, h2, h3, h4 {
  color: #ddd;
}

/* line 15, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-actions td .pic {
  float: left;
  margin: 0 10px 0 0;
}
/* line 19, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-actions td.buttons {
  width: 200px;
  text-align: center;
  vertical-align: middle;
  background-color: #eee;
}

/* line 27, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.dashboard-heading {
  margin-bottom: 20px;
}

/* line 31, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 25px;
}
/* line 35, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-box h3 {
  color: #555;
}
/* line 38, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-box .inner {
  padding: 10px;
  background-color: #eee;
}
/* line 42, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-box .chart {
  height: 150px;
  margin-bottom: 20px;
}
/* line 46, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-box .data {
  display: none;
}
/* line 49, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-box a.show-data {
  padding-left: 15px;
  background: url(/assets/arrow_collapse.gif) top left no-repeat;
}
/* line 53, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.admin-box a.expanded {
  background: url(/assets/arrow_expand.gif) top left no-repeat;
}
