/* line 1, ../../app/assets/stylesheets/mobile.css.scss */
.inner {
  width: auto;
  margin: 0 10px;
}

/* line 5, ../../app/assets/stylesheets/mobile.css.scss */
#common {
  padding: 0;
}

/* line 8, ../../app/assets/stylesheets/mobile.css.scss */
#common-nav {
  float: none;
  text-align: center;
  margin: 0;
  padding: 10px;
}

/* line 14, ../../app/assets/stylesheets/mobile.css.scss */
#search {
  display: none;
}

/* line 18, ../../app/assets/stylesheets/mobile.css.scss */
#nav h1, #nav .tagline, #nav .heading {
  display: none;
}
/* line 21, ../../app/assets/stylesheets/mobile.css.scss */
#nav .buttons {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  float: none;
  width: auto;
  font-size: 9pt;
}
/* line 28, ../../app/assets/stylesheets/mobile.css.scss */
#nav .buttons li {
  margin-right: 10px;
}
/* line 30, ../../app/assets/stylesheets/mobile.css.scss */
#nav .buttons li a.button {
  padding: 6px 8px 4px 8px;
}

/* line 36, ../../app/assets/stylesheets/mobile.css.scss */
input[type=submit], a.button {
  font-size: 9pt;
  padding: 6px 8px 4px 8px;
}

/* line 40, ../../app/assets/stylesheets/mobile.css.scss */
#main {
  margin-top: 15px;
}

/* line 43, ../../app/assets/stylesheets/mobile.css.scss */
.left-sidebar {
  float: none;
  width: auto;
  margin: 0 0 15px 0;
  padding: 0;
}

/* line 49, ../../app/assets/stylesheets/mobile.css.scss */
.accommodate-left-sidebar {
  width: auto;
  float: none;
}

/* line 54, ../../app/assets/stylesheets/mobile.css.scss */
.profile .profile-sidebar {
  float: none;
  width: auto;
  margin-bottom: 10px;
}
/* line 59, ../../app/assets/stylesheets/mobile.css.scss */
.profile .profile-body {
  margin: 0;
}
/* line 61, ../../app/assets/stylesheets/mobile.css.scss */
.profile .profile-body h2 {
  margin-top: 0;
}
/* line 65, ../../app/assets/stylesheets/mobile.css.scss */
.profile .profile-details {
  margin: 10px 0;
}

/* line 69, ../../app/assets/stylesheets/mobile.css.scss */
#search-page {
  margin-top: 0;
}
/* line 71, ../../app/assets/stylesheets/mobile.css.scss */
#search-page h2.search-heading {
  font-size: 18pt;
  width: auto;
  margin: 0;
}
/* line 76, ../../app/assets/stylesheets/mobile.css.scss */
#search-page .search-field {
  width: 250px;
}
/* line 79, ../../app/assets/stylesheets/mobile.css.scss */
#search-page .links {
  margin-top: 25px;
}

/* line 83, ../../app/assets/stylesheets/mobile.css.scss */
.style-editor-pointer {
  display: none;
}

/* line 86, ../../app/assets/stylesheets/mobile.css.scss */
.style-editor-palettes {
  margin-top: 0;
}

/* line 89, ../../app/assets/stylesheets/mobile.css.scss */
.style-editor-heading {
  margin-top: 0;
}

/* line 92, ../../app/assets/stylesheets/mobile.css.scss */
#colorpicker {
  display: none;
}
