@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

body {
  background: url(/assets/bg/concrete_wall.png);
  color: #bbb;
}

h1, h2, h3, h4 {
  color: #ddd;
}

.admin-actions {
  td .pic {
    float: left;
    margin: 0 10px 0 0;
  }
  td.buttons {
    width: 30%;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #eee;
  }
}

.dashboard-heading {
  margin-bottom: 20px;
}

.admin-box {
  @include border-radius(5px);
  border: 8px solid rgba(#fff, 0.5);
  margin-bottom: 25px;
  h3 {
    color: #555;
  }
  .inner {
    padding: 10px;
    background-color: #eee;
  }
  .chart {
    height: 150px;
    margin-bottom: 20px;
  }
  .data {
    display: none;
  }
  a.show-data {
    padding-left: 15px;
    background: url(/assets/arrow_collapse.gif) top left no-repeat;
  }
  a.expanded {
    background: url(/assets/arrow_expand.gif) top left no-repeat;
  }
}
