community:
  name: OneChurch
  main_site_url: http://example.com
site:
  name: OneChurch
  tagline: Welcome home.
  default_timezone: Central Time (US & Canada)
auth:
  facebook:
    app_id: 
    secret:
