@import "compass/css3/border-radius";
@import "compass/css3/opacity";

body {
  color: #333;
}

/* Layout - - - - - - - - - */

#main {
  padding-top: 40px;
  min-height: 600px;
}

.push-down {
  margin-top: 25px;
}

#footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 25px;
}

#search-form {
  float: right;
  input {
    width: 275px;
  }
}

.sidebar {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

/* Home Screen - - - - - - - */

#home-container {
  background-color: #eee;
  #home-image {
    min-height: 528px;
    background: #fff url(/assets/tree.jpg) top center no-repeat;
    #welcome {
      margin-top: 80px;
      h2 {
        margin-bottom: 25px;
      }
      .login-buttons {
        margin-top: 25px;
        line-height: 2em;
      }
    }
  }
}

/* Profile - - - - - - - - */

.headline {
  font-style: italic;
}

/* Forms - - - - - - - - - */

.simple_form {
  select.date {
    width: auto;
  }
  .radio {
    input {
      margin-right: 5px;
    }
  }
  .hint, .help-inline {
    display: block;
    margin: 5px 0 0 150px;
    font-size: smaller;
    color: #777;
  }
  .error .error {
    display: block;
    margin-left: 150px;
    color: red;
    font-weight: bold;
  }
  /* temporary until HTML5 elements are included in Bootstrap
     See https://github.com/twitter/bootstrap/pull/28 */
  form div.error input[type=tel]{border-color:#c87872;-webkit-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);-moz-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);box-shadow:0 0 3px rgba(171, 41, 32, 0.25);}
  form div.error input[type=tel]:focus{border-color:#b9554d;-webkit-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);-moz-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);box-shadow:0 0 6px rgba(171, 41, 32, 0.5);}
  input[type=tel]:focus{outline:none;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
  input[type=tel]{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
  input[type=tel]{display:inline-block;width:210px;padding:4px;font-size:13px;line-height:18px;height:18px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
}
