//= require bootstrap-1.4.0.min.css

@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

$default-box-shadow-color: rgba(0, 0, 0, 0.25);
$default-box-shadow-v-offset: 4px;

/* Generic - - - - - - - - */

body {
  color: #333;
}

// override bootstrap weirdness
html,body{background:none;}
.inputs-list input[type=radio],.inputs-list input[type=checkbox]{margin-bottom:0;margin-left:0;float:none;}
.inputs-list li.inline label { display: inline; margin-left: 0 }

.alert-message.block-message {
  h2 {
    font-size: 16pt;
    margin-bottom: 5px;
  }
  @include single-box-shadow;
}

.char-count-warning {
  color: #cc3;
  font-weight: bold;
}

.char-count-overage {
  color: red;
  font-weight: bold;
}

.colorpicker input {
  width: auto;
}

.actions .right {
  float: right;
}

/* Layout - - - - - - - - -*/

#main {
  padding-top: 40px;
  min-height: 600px;
}

#footer {
  margin: 25px auto 0 auto;
  .content {
    text-align: center;
    padding: 3px 10px;
  }
}

.generic {
  #main .container {
    margin-top: 25px;
  }
}

.profile {
  #main .container {
    margin-top: 35px;
  }

  #footer {
    position: fixed;
    left: 0;
    margin: 0;
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.5);
    color: #fff;
    text-align: left;
    @include border-top-right-radius(5px);
    .content a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

#search-form {
  float: right;
  input {
    width: 275px;
  }
}

.sidebar {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

/* Home Screen - - - - - - */

#home-container {
  background-color: #eee;
  #home-image {
    min-height: 528px;
    background: #fff url(/assets/tree.jpg) top center no-repeat;
    #welcome {
      margin-top: 80px;
      h2 {
        margin-bottom: 25px;
      }
      .login-buttons {
        margin-top: 25px;
        line-height: 2em;
      }
    }
  }
}

/* Profile - - - - - - - - */

.headline {
  font-style: italic;
}

#profile-box {
  @include border-radius(5px);
  position: relative;
  z-index: 100;
  .content {
    padding: 15px;
    overflow: auto;
  }
  .controls {
    padding: 10px 15px 0 0;
    float: right;
    .btn {
      background: #333;
      border: 1px solid #777;
      padding: 2px 5px;
      &:hover {
        background: #fff;
      }
      span {
        padding-left: 12px;
        display: inline-block;
        height: 20px;
      }
    }
  }
  .name {
    background-color: rgba(0, 0, 0, 0.4);
    @include border-top-radius(5px);
    padding: 5px 15px;
  }
  .pic {
    margin-left: 15px;
    float: right;
    img {
      width: 120px;
    }
  }
  .headline {
    margin-bottom: 10px;
  }
  .bio {
    margin: 10px 0;
  }
  .map {
    clear: right;
    margin-top: 20px;
    width: 370px;
    height: 150px;
  }
}

.links {
  a {
    display: inline-block;
    @include border-radius(5px);
    color: #555;
    height: 18px;
    padding: 5px 10px 5px 37px;
    margin: 0 5px 5px 0;
    max-width: 185px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    background-color: #eee;
  }
}

#aux {
  .content {
    @include border-radius(5px);
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
    padding: 15px;
    margin-bottom: 25px;
    .simple_form {
      legend { padding-left: 90px; }
      label { width: 70px; }
      .input label { width: auto; }
      .actions { padding-left: 90px; }
      .input, .hint { margin-left: 90px; }
    }
  }
  .status {
    margin-top: 15px;
  }
}

/* Search Results - - - - -*/

#search-results {
  h2 {
    margin-bottom: 20px;
  }
  .profile {
    .pic {
      float: left;
      margin-right: 10px;
    }
    .name {
      font-size: larger;
    }
  }
  .empty {
    font-style: italic;
  }
}

/* Theme - - - - - - - - - */

.bg-selector {
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  .bg {
    clear: left;
    margin-bottom: 10px;
    .img {
      width: 200px;
      height: 113px;
      float: left;
      cursor: pointer;
      border: 4px solid #fff;
      margin: 0 5px 5px 0;
      &.selected {
        border-color: #0069D6;
      }
    }
    .details {
      padding-top: 5px;
      margin-left: 210px;
      .name {
        font-weight: bold;
        margin-bottom: 5px;
      }
      .description, .credit, .license {
        font-size: smaller;
        margin-bottom: 5px;
      }
    }
  }
}

.color {
  width: 70px;
}

/* Forms - - - - - - - - - */

.simple_form {
  select.date {
    width: auto;
  }
  .radio {
    input {
      margin-right: 5px;
    }
  }
  .hint, .help-inline {
    display: block;
    margin: 5px 0 0 150px;
    font-size: smaller;
    color: #777;
  }
  .error .error {
    display: block;
    margin-left: 150px;
    color: red;
    font-weight: bold;
  }
  .text-only {
    margin-bottom: 10px;
    label {
      padding-top: 0;
    }
    .input {
      margin-left: 150px;
      font-size: 13px;
      line-height: 18px;
      padding-top: 0;
    }
  }
}

#profile_bio {
  width: 380px;
  height: 150px;
}

form.message {
  input[type=text] {
    width: 380px;
  }
  textarea {
    width: 380px;
    height: 250px;
  }
}

/* Icons - - - - - - - - - */

@mixin icon-sprite($pos) {
  $y: ($pos - 1) * -28px;
  padding-left: 15px;
  background-image: url(/assets/icons.png);
  background-position: 0 $y;
  background-repeat: no-repeat;
}

.fb-icon    { @include icon-sprite(1) }
.phone-icon { @include icon-sprite(2) }
.bday-icon  { @include icon-sprite(3) }
.edit-icon  { @include icon-sprite(4) }
.email-icon { @include icon-sprite(5) }
